h1 {
    background-color: rgb(104, 104, 187);
    color: rgb(159, 202, 57);
    height: 50px;
    width: 50%;
}


.navbar-elt1 {
background-color: rgb(104, 104, 187);
        color:rgb(204, 236, 22);
        width: 50%;
}

.navbar-elt2 {
background-color: rgb(104, 104, 187);
        color:rgb(204, 236, 22);
        width: 50%;
}
    
.navbar-elt3 {
background-color: rgb(104, 104, 187);
        color:rgb(204, 236, 22);
        width: 50%;
}    


.navbar-elt4 {
background-color: rgb(104, 104, 187);
        color:rgb(204, 236, 22);
        width: 50%;
    } 


